@media (max-width: 768px) {
   .calendar-content {
        width: 25rem !important;
        padding: unset !important;
    }

    /* 2-й столбец Адрес */
    #requestsTable tr td:nth-child(2) {
        width: 25%;
    }

    /* 3-й столбец Комментарии */
    #requestsTable tr td:nth-child(3) {
        width: 25%;
    }

    /* 4-й столбец Бригады */
    #requestsTable tr td:nth-child(4) {
        width: 25%;
    }

    /* 5-й столбец Кнопки действий */
    #requestsTable tr td:nth-child(5) {
        width: 25%;
    }

    .col-number {
        /* width: 24px;
        min-width: 24px;
        max-width: 24px;
        padding: 0 1px;
        text-align: center;
        box-sizing: border-box; */
    }
}

@media (max-width: 1200px) {
    /* 1-й столбец Порядковый номер заявки */
    #requestsTable tr td:nth-child(1) {
        width: auto;
    }

    /* 2-й столбец Адрес */
    #requestsTable tr td:nth-child(2) {
        width: auto;
    }

    /* 3-й столбец Комментарии */
    #requestsTable tr td:nth-child(3) {
        width: auto;
    }

    /* 4-й столбец Бригада */
    #requestsTable tr td:nth-child(4) {
        width: auto;
    }

    /* 5-й столбец Кнопки действий */
    #requestsTable tr td:nth-child(5) {
        width: auto;
    }
}