/* public/css/mobile-requests.css */

/* Стили для блока адресов на мобильных устройствах */
@media (max-width: 995.98px) {
    #input-excel {
        margin-top: -1rem !important;
        margin-bottom: 0 !important;
    }
    
    /* Убираем выравнивание по нижнему краю на мобильных */
    #addresses .d-flex.align-items-end {
        align-items: flex-start !important;
    }
    /* Стили для кнопки добавления адреса на мобильных */
    .btn[data-bs-target="#assignAddressModal"] {
        margin-top: 0 !important;
        width: 100%;
        margin-bottom: 1rem;
    }
    
    /* Стили для формы загрузки Excel */
    #uploadExcelForm .d-flex.gap-2 {
        flex-direction: column;
        gap: 0.5rem !important;
        width: 100%;
    }
    
    #uploadExcelForm .form-control {
        width: 100% !important;
        max-width: 100%;
    }
    #addresses .d-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem !important;
    }
    #addresses .d-flex > div:first-child {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    #addresses .d-flex form {
        margin-left: 0 !important;
        width: 100%;
    }
}

/* Стили для фильтра сотрудников на мобильных устройствах */
@media (max-width: 767.98px) {
    /* Стили для контейнера фильтра сотрудников */
    .d-flex.justify-content-start {
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    /* Стили для метки фильтра */
    .d-flex.justify-content-start .form-label {
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
    }

    /* Стили для выпадающего списка */
    .d-flex.justify-content-start .form-select {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 0.5rem;
        font-size: 0.875rem;
    }
}

/* Основные стили для колонок */
#requestsTable .col-number {
    /* width: 24px;
    min-width: 24px;
    max-width: 24px;
    padding: 0 1px;
    text-align: center;
    box-sizing: border-box; */
}

#requestsTable .col-date {
    /* width: 8rem; */
}

#requestsTable .col-address {
    /* width: 15rem;
    max-width: 15rem; */
}

#requestsTable .col-comments {
    /* min-width: 20rem;
    max-width: 30rem; */
}

#requestsTable .col-brigade {
    /* width: 15rem;
    max-width: 15rem; */
}

#requestsTable .col-actions {
    /* width: 8rem; */
}

#requestsTable .col-photo {
    /* width: 6rem; */
}

.comment-preview {
    /* white-space: pre-wrap; */
    /* word-break: break-word;
    overflow-wrap: break-word; */
}

.comment-preview-title {
    font-weight: bold;
    word-break: break-all;
    margin-bottom: 2px;
}

.comment-preview-text {
    word-break: break-word;  /* Строгий перенос по словам */
    overflow-wrap: break-word; /* Поддержка для старых браузеров */
    white-space: normal;     /* Стандартное поведение переноса */
    margin-bottom: 2px;
}

.text-comment {
    font-size: clamp(0.8rem, 1vw, 1.3rem);
}

.col-date__date {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-date__date span {
    margin-right: 10px;
}

.col-date__number {
    font-size: 0.8rem;
}

.col-address__organization {
    font-size: 0.8rem;
}

/* Адаптация для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {
    #unassignedBrigadesFilter {
        margin-left: 0 !important;
        margin-top: 0.1rem !important;
        text-align: left !important;
    }

    #content-wrapper {
        margin-top: 0 !important;
    }

    .tab-content {
        margin-bottom: 1rem;    
    }

    /* .form-label {
        display: none;
    } */

    .modal .form-label {
        display: block !important;
    }

    .col-address__organization {
        font-size: clamp(0.53rem, 1vw, 1rem) !important;
    }

    .col-address__street {
        font-size: clamp(0.65rem, 1vw, 1rem) !important;
        line-height: clamp(0.7rem, 1vw, 1rem) !important;
        margin-top: clamp(10px, 1vw, 7px) !important;
    }
    .font-size-0-8rem {
        font-size: clamp(0.65rem, 1vw, 1rem) !important;
        line-height: clamp(0.65rem, 1vw, 1rem) !important;
        margin-top: clamp(5px, 1vw, 7px) !important;
    }
    #requestsTable th, #requestsTable td,
    #requestsPlanningTable th, #requestsPlanningTable td {
        font-size: clamp(0.9rem, 1vw, 1rem) !important;
    }
    h1 {
        font-size: 1.3rem !important;
        padding-top: 0.5rem !important;
    }
    .ps-4 {
        padding-left: 0 !important;
    }
    .pe-4 {
        padding-right: 0 !important;
    }
    .mt-4 {
        margin-top: 0 !important;
    }
    .pt-4 {
        padding-top: 0 !important;
    }
    .main-content {
        padding: 0 !important;
    }
    
    /* Стили для вертикального расположения элементов управления */
    .d-flex.justify-content-between.align-items-center {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0rem;
    }
    
    /* Стили для кнопки "Новая заявка" */
    .d-flex.justify-content-end {
        width: 100%;
        justify-content: flex-start !important;
        margin-bottom: 0.5rem;
    }
    
    /* Стили для блока с фильтром сотрудников */
    .d-flex.justify-content-start {
        width: 100%;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    /* Стили для выпадающего списка */
    #employeeFilter {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 0.5rem !important;
    }
    
    /* Скрываем блок с дополнительными фильтрами в мобильной версии */
    .d-flex.d-none {
        display: none !important;
    }

    .comment-preview-title {
        font-size: clamp(0.9rem, 1vw, 1.3rem) !important;
    }

    .comment-preview-text {
        font-size: clamp(0.7rem, 1vw, 1.2rem) !important;
        width: 12rem !important;
    }

    #requestsTable .col-number {
        display: none;
    }

    #requestsTable thead th:first-child {
        display: none;
    }

    .view-comments-btn i {
        display: none;
    }

    .col-comments {
        width: 10rem;
    }

    .col-date__date {
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .col-date__date span {
        margin-right: 10px;
    }

    .col-date__number {
        font-size: 10px;
    }

    .th-col {
        font-size: clamp(0.65rem, 1vw, 1rem) !important;
        line-height: clamp(0.65rem, 1vw, 1rem) !important;
    }

    .col-address {
        width: 8rem;
    }

    .col-brigade {
        width: 8rem;
    }

    .col-date {
        width: 6rem;
    }

    .col-actions {
        width: 4rem;
    }

    .col-actions__div {
        /* width: 4rem; */
    }

    .col-actions__div button {
        font-size: 8px;
    }

    .tab-content {
        padding: 0.1rem !important;
    }

    .col-actions__span {
        display: none;
    }

    /* Скрыть подвал на мобильных устройствах */
    footer {
        display: none;
    }
}

/* Скрываем иконки в кнопках на очень маленьких экранах */
@media (max-width: 480px) {

}

/* Для очень маленьких экранов */
@media (max-width: 400px) {

}
